@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #60657b;
}

body {
  font-family: "Work Sans", sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
}


.container {
  padding: 20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 36px;
  font-family: "Merriweather", serif;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.video-container {
  border: 2px solid white;
  border-radius: 5px;
  width: calc(60% - 10px);
  height: 480px; 
}

video {
  box-shadow: 0 12px 48px 0 rgba(109, 117, 141, 0.2);
  border: 2px solid white;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  width: calc(40% - 10px);
  min-height: 400px;
  padding: 18px;
  box-shadow: 0 12px 48px 0 rgba(109, 117, 141, 0.2);
  background: #fff;
  border: 1px solid #e7e9f5;
  border-radius: 16px;
}

.main-content:focus {
  outline: none;
}

.btn-style {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background: #11a683;
  color: #fff;
  border-radius: 6px;
  padding: 16px 32px;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-right: 10px;
}

button:focus,
button:hover {
  background: #2ac9a4;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
  }

  h2 {
    font-size: 28px;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .video-container,
  .main-content {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    padding: 12px 28px;
    font-size: 16px;
  }
}

